HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/out/*
target/
*/target
*.class
/bin/

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# for Mac OS X System Files
.DS_Store
Thumbs.db

# for emacs
*~
[#]*[#]

# remove SVN
.svn
/applog/*
*/applog
*.log